<div class="post" data-controller="post">
  <p class="post__content"></p>
  <div class="post__btns">
    <button class="post__btn">編集</button>
    <button class="post__btn">削除</button>
  </div>
</div>
