name: test

on:
  push:

jobs:
  rspec:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Run RSpec
        run: task rspec
